html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#title-bar {
    -webkit-app-region: drag;
    height: 24px;
    width: 100%;
    padding: 0; 
    margin: 0; 
}

/*Container */

.container-fluid {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    background: url("https://phoenixrp.co.uk/uploads/monthly_2016_10/logo-88-msi-dragon-burning.jpg.ca99700717b3e62bd5f59c3581ffa3fc.jpg") no-repeat 50% 50%;
    display: table;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

/*Header Title*/
.form-signin-heading {
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Urban Brush Zone';
    font-size: 100px;
}

#account_name_label {
    font-family: 'Urban Brush Zone';
    font-size: 25px;
    color: white;
    display: inline-block;
}


#password_label {
    font-family: 'Urban Brush Zone';
    font-size: 25px;
    color: white;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 250%; 
    }
    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }       
}
